.check-box {
  margin: 20px 0;
  display: block;
  transition: padding .5s;

  input {
    opacity: 0;
    position: absolute;
  }

  input + label {
    position: relative;
    top: 4px;

    display: inline-block;
    width:  15px;
    height: 15px;
    border-radius: 0;
    border: 2px solid #333;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .check-box {
    padding-left: 20px;
  }
}