<form id="configure">
  {{#form-header active=isConfiguring}}
    {{#if isConfiguring}}
      Configuring..
    {{else}}
      Configure
    {{/if}}
  {{/form-header}}
  {{#unless isConfiguring}}
    {{labelled-input title="Environment Name" name="release[env]" value=environment}}
    {{labelled-input title="S3 Bucket" name="release[s3_bucket]" value=bucket}}
    {{labelled-input title="Cloudfront Distribution Id" name="release[cloudfront_distribution_id]" value=cloudfront}}
  {{/unless}}
</form>
